<a href="https://colab.research.google.com/github/mrymold/MARYAMINSE6210/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this a lab 01

In [4]:
import pandas as pd

In [10]:
df=pd.read_csv('/content/spotify_weekly_chart.csv')
df.head(10)

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
0,1,=,SZA,Kill Bill,5,1,(x2),47288509,5814143.0,208044297
1,2,+3,Metro Boomin,Creepin',6,2,(x1),30753658,2661426.0,184223144
2,3,-1,Sam Smith,Unholy,16,1,(x7),30733283,-2398892.0,673533882
3,4,-1,Harry Styles,As It Was,41,1,(x11),28522200,-2475884.0,1747957886
4,5,-1,David Guetta,I'm Good (Blue),20,2,(x4),27260313,-3443943.0,568898155
5,6,=,Manuel Turizo,La Bachata,28,4,NaN,25879286,-1477809.0,693820743
6,7,=,Taylor Swift,Anti,12,1,(x3),24839659,-607201.0,458799904
7,8,+1,Arcángel,La Jumpa,6,8,NaN,24149297,249994.0,147015494
8,9,-1,Bizarrap,"Quevedo: Bzrp Music Sessions, Vol. 52",27,1,(x9),21956111,-2494755.0,915813564
9,10,+1,Stephen Sanchez,Until I Found You,6,10,NaN,21822777,1666570.0,103784452

In [13]:
df['Title']

0              Kill Bill
1               Creepin'
2                 Unholy
3              As It Was
4        I'm Good (Blue)
             ...
195         Boy's a liar
196             Kesariya
197    Take Me To Church
198       Agudo Mágico 3
199             Payphone
Name: Title, Length: 200, dtype: object

In [15]:
df['Wks']

0        5
1        6
2       16
3       41
4       20
      ...
195      1
196     11
197    202
198      1
199     50
Name: Wks, Length: 200, dtype: int64

In [5]:
from google.colab import files

In [6]:
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [15]:
df2=pd.read_csv('/content/Iris.csv')
df2.head(20)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa

In [16]:
df2['Id']

0        1
1        2
2        3
3        4
4        5
      ...
145    146
146    147
147    148
148    149
149    150
Name: Id, Length: 150, dtype: int64

In [17]:
df2.shape

(150, 6)

In [5]:
df3=pd.read_csv('/content/drive/MyDrive/6220/spotify_weekly_chart.csv') 
df3.tail(10)

,Pos,P+,Artist,Title,Wks,Pk,(x?),Streams,Streams+,Total
190,191,-14,Shakira,Te Felicito,35,13,NaN,6823173,-262572.0,424378574
191,192,RE,Coldplay,My Universe,63,3,(x1),6816197,NaN,800539723
192,193,-11,Taylor Swift,"You're On Your Own, Kid",11,6,NaN,6802122,-153304.0,181095035
193,194,RE,Taylor Swift,Don’t Blame Me,28,72,NaN,6797641,NaN,213575473
194,195,-1,Tears For Fears,Everybody Wants To Rule The World,24,105,NaN,6783096,-20896.0,165830503
195,196,NEW,PinkPantheress,Boy's a liar,1,196,NaN,6764722,NaN,6764722
196,197,-8,Pritam,Kesariya,11,71,NaN,6739427,-101231.0,84426152
197,198,RE,Hozier,Take Me To Church,202,1,(x5),6717421,NaN,1058553367
198,199,NEW,MC K.K,Agudo Mágico 3,1,199,NaN,6713237,NaN,6713237
199,200,RE,Maroon 5,Payphone,50,70,NaN,6713045,NaN,320478893

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).